<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LookinGames</title>
</head>
<body>
    <form name="insertgame" action="." method="post">
        <p>
            <label>Novo jogo:</label>
            <input type="text" name="newgame">
        </p>
        <p>
            <label>Data de Lançamento:</label>
            <input type="text" name="data_lancamento">
        </p>
        <p>
            <label>Genero:</label>
            <input type="text" name="genero">
        </p>
        <p>
            <label>Sobre:</label>
            <input type="text" name="sobre">
        </p>
        <p>
            <label>ID:</label>
            <input type="text" name="id">
        </p>
        <input type="submit" value="submit">
    </form>
</body>
</html>